<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    
          <!-- Resident Information Card -->
          <div class="row mb-4">
            <div class="col-lg-6">
              <card-form
                title="Resident Information"
                [formControls]="residentData"
                [editMode]="false"
                [showEditButton]="true"
                [showCancelButton]="true"
                saveButtonText="Save Resident"
                cancelButtonText="Cancel Changes"
                editButtonText="Edit Resident"
                (save)="onResidentSave($event)"
                (cancel)="onResidentCancel()">
              </card-form>
            </div>
          </div>

    </div>
  </div>
</div>
