<div class="row">
  <div class="col-12 col-md-6">
    <card-form [image]="image" [dataSet]="personalInfo" [title]="'Personal Information'"></card-form>
  </div>
  <div class="col-12 col-md-6">
    <card-form [dataSet]="contactInfo" [title]="'Contact Information'"></card-form>
    <card-form [dataSet]="insuranceFinancialInfo" [title]="'Insurance & Financial Information'"></card-form>
  </div>
  <div class="col-12 col-md-6">
    <card-form [dataSet]="medicalLegalStatus" [title]="'Medical & Legal Status'"></card-form>
  </div>
  <div class="col-12 col-md-6">
    <card-form [dataSet]="responsiblePartyContacts" [title]="'Responsible Party & Emergency Contacts'"></card-form>
  </div>
  <div class="col-12 col-md-6">
    <card-form [dataSet]="legalDocumentsDecisionMakers" [title]="'Legal Documents & Decision Makers'"></card-form>
  </div>
  <div class="col-12 col-md-6">
    <card-form [dataSet]="physicianCareTeamInfo" [title]="'Physician & Care Team Information'"></card-form>
  </div>
  <div class="col-12 col-md-6">
    <card-form [dataSet]="facilityInfo" [title]="'Facility Information'"></card-form>
  </div>
  <div class="col-12 col-md-6">
    <card-form [dataSet]="additionalNotesDocuments" [title]="'Additional Notes & Documents'"></card-form>
  </div>
</div>