<div class="container-fluid">

  <!-- Loading State - Full Page -->
  @if (isLoading()) {
  <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="text-center">
      <mat-spinner diameter="64" class="mx-auto mb-4"></mat-spinner>
      <h4 class="text-muted mb-2">Loading resident information...</h4>
      <p class="text-muted">Please wait while we fetch the data.</p>
    </div>
  </div>
  }

  <!-- No Data State - Full Page -->
  @else if (!hasResidentData()) {
  <empty-state icon="person_search" title="No data available"
    description="Please search for a resident to view their information." [showActionButton]="true"
    actionButtonText="Search for Resident" actionButtonIcon="search" (actionClick)="openSearchDialog()">
  </empty-state>
  }

  <!-- Content State - Show when we have resident data -->
  @else {
  <!-- Personal Information and Demographics Row -->
  <div class="row">
    <!-- Personal Information Card -->
    <div class="col-12 col-lg-6">
      <card-form title="Personal Information" [formControls]="personalInfo()" [editMode]="false" [showEditButton]="true"
        [showCancelButton]="true" saveButtonText="Save Personal Info" cancelButtonText="Cancel Changes"
        editButtonText="Edit Personal Info" (save)="onPersonalInfoSave($event)" (cancel)="onCancel()">
      </card-form>
    </div>

    <!-- Demographics Card -->
    <div class="col-12 col-lg-6">
      <card-form title="Demographics & Admission" [formControls]="demographicsInfo()" [editMode]="false"
        [showEditButton]="true" [showCancelButton]="true" saveButtonText="Save Demographics"
        cancelButtonText="Cancel Changes" editButtonText="Edit Demographics" (save)="onDemographicsSave($event)"
        (cancel)="onCancel()">
      </card-form>
    </div>
  </div>

  <!-- Medical & Legal Status and Facility Information Row -->
  <div class="row">
    <!-- Medical & Legal Status Card -->
    <div class="col-12 col-lg-6">
      <card-form title="Medical & Legal Status" [formControls]="medicalLegalStatus()" [editMode]="false"
        [showEditButton]="true" [showCancelButton]="true" saveButtonText="Save Medical Status"
        cancelButtonText="Cancel Changes" editButtonText="Edit Medical Status" (save)="onMedicalLegalSave($event)"
        (cancel)="onCancel()">
      </card-form>
    </div>

    <!-- Facility Information Card -->
    <div class="col-12 col-lg-6">
      <card-form title="Facility Information" [formControls]="facilityInfo()" [editMode]="false" [showEditButton]="true"
        [showCancelButton]="true" saveButtonText="Save Facility Info" cancelButtonText="Cancel Changes"
        editButtonText="Edit Facility Info" (save)="onFacilitySave($event)" (cancel)="onCancel()">
      </card-form>
    </div>
  </div>

  <!-- Primary Care Physicians Table -->
  <div class="row ">
    <table-form [title]="'Primary Care Physicians'" [subtitle]="'Manage primary care physician information'"
      [dataSet]="primaryCarePhysicians()" [formControls]="physicianFormControls" [idField]="'id'" [showAddButton]="true"
      [showEditButton]="true" [showDeleteButton]="true" [showViewButton]="true" (save)="handlePhysicianSave($event)"
      (delete)="handlePhysicianDelete($event)" (view)="handlePhysicianView($event)" (cancel)="handleCancel()"
      style="overflow-x: auto; max-width: 100%;">
    </table-form>
  </div>

  <!-- Allergies Table -->
  <div class="row">
    <table-form [title]="'Allergies'" [subtitle]="'Manage resident allergy information'" [dataSet]="allergies()"
      [formControls]="allergyFormControls" [idField]="'id'" [showAddButton]="true" [showEditButton]="true"
      [showDeleteButton]="true" [showViewButton]="true" (save)="handleAllergySave($event)"
      (delete)="handleAllergyDelete($event)" (view)="handleAllergyView($event)" (cancel)="handleCancel()">
    </table-form>
  </div>

  <!-- Service Providers and Pharmacy Row -->
  <div class="row">
    <table-form [title]="'Service Providers'" [subtitle]="'Manage healthcare service providers'"
      [dataSet]="serviceProviders()" [formControls]="serviceProviderFormControls" [idField]="'id'"
      [showAddButton]="true" [showEditButton]="true" [showDeleteButton]="true" [showViewButton]="true"
      (save)="handleServiceProviderSave($event)" (delete)="handleServiceProviderDelete($event)"
      (view)="handleServiceProviderView($event)" (cancel)="handleCancel()">
    </table-form>
  </div>

  <!-- Pharmacy Information Card -->
  <div class="row">
    <div class="col-12 col-lg-4">
      <card-form title="Pharmacy Information" [formControls]="pharmacyInfo()" [editMode]="false" [showEditButton]="true"
        [showCancelButton]="true" saveButtonText="Save Pharmacy" cancelButtonText="Cancel Changes"
        editButtonText="Edit Pharmacy" (save)="onPharmacySave($event)" (cancel)="onCancel()">
      </card-form>
    </div>
  </div>

  <!-- Documents and Insurance Section -->
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Documents</h5>
        </div>
        <div class="card-body">
          <div *ngIf="resident().documents && resident().documents.length > 0; else noDocuments">
            <div class="list-group">
              <div class="list-group-item" *ngFor="let document of resident().documents">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{document.name}}</h6>
                  <small>{{document.type}}</small>
                </div>
                <small>Uploaded: {{document.uploadDate | date}}</small>
              </div>
            </div>
          </div>
          <ng-template #noDocuments>
            <empty-state icon="description" title="No documents" description="No documents currently uploaded."
              minHeight="200px" [showActionButton]="false">
            </empty-state>
          </ng-template>
          <button mat-raised-button color="primary" class="mt-3">
            <mat-icon>upload_file</mat-icon>
            Upload Document
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Insurance Information</h5>
        </div>
        <div class="card-body">
          <div *ngIf="resident().insurances && resident().insurances.length > 0; else noInsurance">
            <div class="list-group">
              <div class="list-group-item" *ngFor="let insurance of resident().insurances">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{insurance.provider}}</h6>
                  <small>Policy: {{insurance.policyNumber}}</small>
                </div>
                <p class="mb-1">Group: {{insurance.groupNumber}}</p>
                <small>Effective: {{insurance.effectiveDate | date}} - {{insurance.expirationDate | date}}</small>
              </div>
            </div>
          </div>
          <ng-template #noInsurance>
            <empty-state icon="security" title="No insurance" description="No insurance information available."
              minHeight="200px" [showActionButton]="false">
            </empty-state>
          </ng-template>
          <button mat-raised-button color="primary" class="mt-3">
            <mat-icon>add</mat-icon>
            Add Insurance
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <button mat-raised-button color="primary" class="me-2">
            <mat-icon>print</mat-icon>
            Print Face Sheet
          </button>
          <button mat-raised-button color="accent" class="me-2">
            <mat-icon>download</mat-icon>
            Export PDF
          </button>
          <button mat-raised-button color="warn">
            <mat-icon>email</mat-icon>
            Email Face Sheet
          </button>
        </div>
      </div>
    </div>
  </div>

  } <!-- End of @else block for content state -->

</div>