<div class="row">
  <mat-card class="cardWithShadow m-8">
    @if (image) {
      <img class="w-100" mat-card-image src="{{ image }}" alt="Resident Photo" />
    }
    <!-- Display -->
    @if (!editMode) {
      <mat-card-content class="p-y-24">
      <mat-card-title>{{title}}</mat-card-title>
      <hr /><br />
      @for(data of dataSet; track data.title) {
      <div class="row">
        <div class="col-6">
          <span class="mat-body-1">{{ data.title }}</span>
        </div>
        <div class="col-6">
          <span class="mat-body-1"><strong>: {{ data.value }}</strong></span>
        </div>
      </div>
      }
      <br>
      <button mat-flat-button color="primary" (click)="toggleEditMode()" class="w-100 m-t-8">
        Edit
      </button>
    </mat-card-content>
    }

    <!-- Form -->
    @if (editMode) {
      <mat-card-content class="p-y-24">
      <mat-card-title>Edit {{title}}</mat-card-title>
      <hr /><br />
      <form>
        @for(data of dataSet; track data.title) {
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-10">{{ data.title }}</mat-label>
          </div>
          <div class="col-sm-8">
            <!-- Text, Number, Date, Email inputs -->
            @if (['text', 'number', 'date', 'email', 'tel'].includes(data.dataType)) {
              <mat-form-field appearance="outline" class="w-100">
                <input type="{{data.dataType}}" matInput [(ngModel)]="data.value" name="{{data.title}}" />
              </mat-form-field>
            }
            
            <!-- Dropdown (Select) -->
            @if (data.dataType === 'select') {
              <mat-form-field appearance="outline" class="w-100">
                <mat-select [(ngModel)]="data.value" name="{{data.title}}">
                  @for (option of data.options; track option.value) {
                    <mat-option [value]="option.value">
                      {{option.label}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
            
            <!-- Radio Buttons -->
            @if (data.dataType === 'radio') {
              <div class="radio-group">
                <mat-radio-group [(ngModel)]="data.value" name="{{data.title}}">
                  @for (option of data.options; track option.value) {
                    <mat-radio-button [value]="option.value" class="radio-button">
                      {{option.label}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              </div>
            }
             <!-- SSN input with mask -->
            @if (data.dataType === 'ssn') {
              <mat-form-field appearance="outline">
                <input 
                  type="text" 
                  matInput 
                  [(ngModel)]="data.value" 
                  name="{{data.title}}" 
                  [mask]="'000-00-0000'"
                  [showMaskTyped]="true"
                  placeholder="___-__-____"
                />
              </mat-form-field>
            }
          </div>
        </div>
        }
        <div class="row justify-content-end">
          <div class="col-sm-8">
            <button mat-flat-button color="primary" (click)="toggleEditMode()">&nbsp;Send&nbsp;</button>&nbsp;&nbsp;
            <button mat-flat-button color="primary" (click)="toggleEditMode()">Cancel</button>
          </div>
        </div>
      </form>
    </mat-card-content>
    }
  </mat-card>
</div>